<template>
    <div id="card-ingredient-general">
        <h4 class="mb-0">
            <v-icon>category</v-icon>
            Category
        </h4>
        <p v-if="category">{{ category }}</p>
    </div>
</template>
<script>
    export default {
    	name: 'ViewIngredientGeneralCard',
        props: {
    		category: {
    			type: String,
                required: true
            }
        }
    }
</script>