<template>
    <div>
        <v-list two-line dense v-if="translations.length > 0">
            <translation-item
                v-for="translation in translations"
                :translation="translation"
                :translationsRowMode="translationsRowMode"
                @DataChanged="onDataChanged"
                @ResetTranslationRowMode="onResetTranslationRowMode"
                @UpdatedTranslationsRowMode="onUpdatedTranslationsRowMode"
            />
        </v-list>
    </div>
</template>
<script>
    import TranslationItem from '@/components/lists/TranslationItem.vue'

    export default {
    	components: {
			TranslationItem
        },
        methods: {
			onDataChanged() {
			    this.$emit('DataChanged')
            },
			onResetTranslationRowMode() {
				this.$emit('ResetTranslationRowMode')
            },
			onUpdatedTranslationsRowMode(data) {
				this.$emit('UpdatedTranslationsRowMode', data)
            }
        },
    	name: 'TranslationList',
        props: {
    		translations: {
    			type: Array,
                required: true
            },
			translationsRowMode: {
    			type: Object,
                required: true
            }
        }
    }
</script>