<template>
    <div class="listitem-translation" v-if="translation">
        <v-list-tile>
            <v-list-tile-content>
                <v-list-tile-title v-text="translation.locale.toUpperCase()"></v-list-tile-title>

                <p v-text="translation.value" v-if="isRowMode(translation.id, 'view')"></p>
                <v-form :id="`form-${translation.id}`" @submit.prevent="onTranslationFormSubmit" v-else>
                    <v-text-field name="text" :label="`Ingredient name(${translation.locale.toUpperCase()})`" type="text" v-model.trim="translationForm.value"></v-text-field>
                </v-form>
            </v-list-tile-content>

            <template v-if="isRowMode(translation.id, 'view')">
                <v-list-tile-action>
                    <v-btn
                            fab
                            small
                            color="secondary"
                            @click="updateRow(translation)"
                            v-if="isRowMode(translation.id, 'view')"
                    >
                        <v-icon>edit</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </template>
            <template v-else>
                <v-list-tile-action>
                    <v-btn
                            fab
                            small
                            color="success"
                            :form="`form-${translation.id}`"
                            @click="onTranslationFormSubmit"
                    >
                        <v-icon>check</v-icon>
                    </v-btn>
                </v-list-tile-action>
                <v-list-tile-action>
                    <v-btn
                            fab
                            small
                            color="error"
                            @click="resetRow()"
                    >
                        <v-icon>cancel</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </template>
        </v-list-tile>

        <v-divider></v-divider>
    </div>
</template>
<script>
    import IngredientsMixin from '@/mixins/ingredients/ingredients.mixin'

    export default {
		data: () => ({
			translationForm: undefined,
        }),
    	methods: {
			isRowMode(translationId, mode) {
				return (this.translationsRowMode[translationId] === mode)
			},
			onTranslationFormSubmit() {
				let translations = {}
				translations[this.translationForm.locale] = {
					text: this.translationForm.value
				}

				this.$store.commit('REQUEST_INIT')
				this.updateIngredient(this.$route.params.id, {
					translations: translations
				}).then(() => {
					this.resetTranslationsRowMode()
					this.$store.commit('REQUEST_STOP')

                    if (this.translation.locale === 'ro') {
						this.$emit('DataChanged')
                    }
				})
			},
			resetRow() {
				this.resetTranslationsRowMode()
			},
			resetTranslationsRowMode() {
				this.$emit('ResetTranslationRowMode')
			},
			updateRow(translation) {
				this.resetTranslationsRowMode()
                this.$emit('UpdatedTranslationsRowMode', {
                	key: translation.id,
                    value: 'update'
                })
				this.translationForm = translation
			}
        },
        mixins: [
			IngredientsMixin
        ],
    	name: 'TranslationItem',
        props: {
    		translation: {
    			type: Object,
                required: true
            },
			translationsRowMode: {
    			type: Object,
                required: true
            }
        }
    }
</script>