<template>
    <v-card>
        <v-card-title>
            <h3 class="headline mb-0">
                <v-icon color="white" large>category</v-icon>
                Ingredient Categories
            </h3>
        </v-card-title>

        <v-card-text>
            <v-treeview
                activatable
                item-key="name"
                open-on-click
                :open="open"
                :items="items"
                v-model="tree"
            >

            </v-treeview>
        </v-card-text>
    </v-card>
</template>
<script>
    import IngredientsCategoriesMixin from '@/mixins/ingredients/ingredients-categories.mixin'

    export default {
		data: () => ({
			open: [],
            items: [],
            tree: []
		}),
        methods: {
		    loadIngredientCategoriesItems() {
		    	this.$store.commit('REQUEST_INIT')
                this.getTree().then((response) => {
                	this.items = response.data
					this.$store.commit('REQUEST_STOP')
                })
            }
        },
        mixins: [
			IngredientsCategoriesMixin
        ],
        mounted() {
            this.loadIngredientCategoriesItems()
        },
    	name: 'IngredientCategoriesView'
    }
</script>
<style scoped>
    .v-treeview {
        text-align: left;
    }

    .v-card__title {
        background-color: darkblue;
        color: #fff;
    }
</style>