<template>
    <v-card>
        <v-card-title>
            <h3 class="headline mb-0">
                <v-icon color="white" large>add</v-icon>
                Add Ingredient
            </h3>
        </v-card-title>

        <v-card-text>
            <ingredient-form mode="create"></ingredient-form>
        </v-card-text>
    </v-card>
</template>
<script>
    import IngredientForm from '@/components/forms/IngredientForm.vue'

    export default {
    	components: {
			IngredientForm
        },
    	name: 'NewIngredientView'
    }
</script>
<style scoped>
    .v-card__title {
        background-color: darkblue;
        color: #fff;
    }

    .v-card__text {
        text-align: left !important;
    }
</style>