<template>
    <v-card>
        <v-card-title>
            <h3 class="headline mb-0" v-if="ingredientId && ingredient">
                <v-icon color="white" large>more_horiz</v-icon>
                #{{ ingredientId }} - {{ ingredient.name }}
            </h3>

            <v-btn small absolute right light fab v-if="mode === 'view'" @click.prevent="mode = 'update'">
                <v-icon small>edit</v-icon>
            </v-btn>
            <v-btn small absolute right light fab v-if="mode === 'update'" @click.prevent="mode = 'view'">
                <v-icon small>visibility</v-icon>
            </v-btn>
        </v-card-title>

        <v-card-text>
            <v-tabs
                v-model="activeTab"
                color="primary"
                dark
                icons-and-text
                slider-color="#ff9f54"
            >
                <v-tab key="general" ripple>
                    General
                    <v-icon>view_module</v-icon>
                </v-tab>
                <v-tab key="translations">
                    Translations
                    <v-icon>text_fields</v-icon>
                </v-tab>
                <v-tab key="diets">
                    Diets
                    <v-icon>donut_small</v-icon>
                </v-tab>
                <v-tab key="nutrition">
                    Nutritional data
                    <v-icon>linear_scale</v-icon>
                </v-tab>

                <v-tab-item key="general" class="pa-3">
                    <template v-if="mode === 'view'">
                        <view-ingredient-general-card :category="category.name" v-if="category"></view-ingredient-general-card>
                    </template>
                    <template v-if="mode === 'update'">
                        <ingredient-form :editIngredient="ingredient" mode="update"></ingredient-form>
                    </template>
                </v-tab-item>

                <v-tab-item key="translations" class="pa-3">
                    <translation-list
                        :translations="translations"
                        :translationsRowMode="translationsRowMode"
                        @DataChanged="refreshIngredient"
                        @ResetTranslationRowMode="onResetTranslationRowMode"
                        @UpdatedTranslationsRowMode="onUpdatedTranslationsRowMode"
                        v-if="translations"
                    />
                </v-tab-item>
            </v-tabs>
        </v-card-text>
    </v-card>
</template>
<script>
	import IngredientForm from '@/components/forms/IngredientForm.vue'
	import IngredientsMixin from '@/mixins/ingredients/ingredients.mixin'
	import IngredientsCategoriesMixin from '@/mixins/ingredients/ingredients-categories.mixin'
    import TranslationList from '@/components/lists/TranslationList.vue'
    import ViewIngredientGeneralCard from '@/components/cards/ViewIngredientGeneralCard.vue'

    export default {
		components: {
			IngredientForm,
			TranslationList,
			ViewIngredientGeneralCard
        },
		computed: {
			generalTabReady() {
                return (
                	this.activeTab === 0 &&
                    this.ingredient
                )
            },
		    ingredientId() {
		    	return this.$route.params.id
            },
            translationTabReady() {
				return (
					this.activeTab === 1
                )
            }
        },
		data: () => ({
			activeTab: 0,
			category: undefined,
			ingredient: undefined,
			mode: 'view', // 'view' || 'update',
            translationsRowMode: {},
            translations: []
        }),
		methods: {
			onActiveTabGeneral() {
				this.$store.commit('REQUEST_INIT')
				this.getCategory(this.ingredient.ingredient_category_id).then((response) => {
					this.category = response.data
					this.$store.commit('REQUEST_STOP')
				})
            },
            onActiveTabTranslations() {
				this.$store.commit('REQUEST_INIT')
                this.getIngredientTranslations(this.ingredientId).then((response) => {
					this.translations = response.data
					this.onResetTranslationRowMode()
					this.$store.commit('REQUEST_STOP')
                })
            },
            onMounted() {
				this.refreshIngredient()
            },
			onResetTranslationRowMode() {
				this.translationsRowMode = {}
				this.translations.forEach((translation) => {
					this.translationsRowMode[translation.id] = 'view'
				})
			},
			onUpdatedTranslationsRowMode(data) {
				this.translationsRowMode[data.key] = data.value
			},
			refreshIngredient() {
				this.$store.commit('REQUEST_INIT')
				this.getIngredient(this.ingredientId).then((response) => {
					this.ingredient = response.data
					this.$store.commit('REQUEST_STOP')
				}).catch((err) => {
					if (err.response) {
						if (err.response.status == 404) {
							this.$store.commit('ERROR_RESET')
							this.$store.commit('APP_ERROR', 'Requested item not found, redirecting')
							this.$router.push('/ingredients/new')
						}
					}
				})
			}
        },
		mixins: [
			IngredientsCategoriesMixin,
			IngredientsMixin
        ],
        mounted() {
            this.onMounted()
        },
    	name: 'ViewIngredientView',
        watch: {
			generalTabReady: {
				handler(generalTabReady) {
					if (generalTabReady) {
						this.onActiveTabGeneral()
                    }
                },
                immediate: true
            },
            mode(mode) {
				if (mode === 'update' && this.activeTab !== 0) {
					this.activeTab = 0
                }
            },
			translationTabReady: {
				handler(translationTabReady) {
					if (translationTabReady) {
                        this.onActiveTabTranslations()
                    }
                },
                immediate: true
            }
        }
    }
</script>
<style scoped>
    .v-card__title {
        background-color: darkblue;
        color: #fff;
    }

    .v-card__text {
        text-align: left !important;
        padding: 0 !important;
    }

    >>> .v-tabs__item--active {
        color: #ff9f54 !important;
    }
</style>