<template>
  <div id="app">
      <admin-layout v-if="$store.getters.isAuthenticated"></admin-layout>
      <login-layout v-else></login-layout>
      <vue-snotify></vue-snotify>
  </div>
</template>
<script>
    import AdminLayout from '@/layouts/AdminLayout.vue'
    import LoginLayout from '@/layouts/LoginLayout.vue'
    import UsersMixin from '@/mixins/users.mixin'

    export default {
        components: {
            AdminLayout,
            LoginLayout
        },
		data: () => ({
			loader: null
        }),
        mixins: [
			UsersMixin
        ],
        mounted() {
        },
        name: 'App',
		watch: {
        	'$store.state.accessToken': {
        	    handler(accessToken) {
        	    	if (accessToken) {
						this.$store.commit('REQUEST_INIT')
						this.getLoggedInUser().then((response) => {
							this.$store.commit('APP_USER', response.data)
							this.$store.commit('REQUEST_STOP')
						})
                    }
                },
                immediate: true
            },
			'$store.state.status': {
				handler(status) {
					if (status === 'loading') {
						this.loader = this.$loading.show()
					} else if (status === 'idle' && this.loader !== null) {
						this.loader.hide()
					}
				},
				immediate: true
			},
			'$store.state.errors': {
				handler(errors) {
					errors.forEach((error) => {
						this.$snotify.error(error)
					})
				},
				deep: true,
				immediate: false
			},
			'$store.state.messages': {
				handler(messages) {
					messages.forEach((message) => {
						this.$snotify.info(message)
					})
				},
				deep: true,
				immediate: false
			}
		}
    }
</script>
<style>
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}
</style>
