<template>
    <v-app>
        <v-card>
            <v-navigation-drawer
                    dark
                    app
            >
                <v-toolbar flat class="transparent">
                    <v-list class="pa-0">
                        <v-list-tile>
                            <v-list-tile-content>
                                <img src="@/assets/logo.png" height="80" />
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>

                <v-divider></v-divider>

                <v-toolbar flat class="transparent">
                    <v-list class="pa-0">

                        <v-list-tile avatar>
                            <v-list-tile-avatar>
                                <v-icon color="yellow">person</v-icon>
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title v-if="$store.state.user">{{ $store.state.user.first_name }} {{ $store.state.user.last_name }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>

                <v-divider></v-divider>

                <v-list class="pt-0" dense>
                    <v-list-tile to="/">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>Dashboard</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-group
                            prepend-icon="more_horiz"
                    >

                        <v-list-tile slot="activator">
                            <v-list-tile-title>Ingredients</v-list-tile-title>
                        </v-list-tile>

                        <v-list-tile to="/ingredients/list">
                            <v-list-tile-action>
                                <v-icon>list</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title>List</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile to="/ingredients/new">
                            <v-list-tile-action>
                                <v-icon>add</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title>Add Ingredient</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-list-tile to="/ingredients/categories">
                            <v-list-tile-action>
                                <v-icon>category</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title>Categories</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>

                    </v-list-group>
                </v-list>
            </v-navigation-drawer>
        </v-card>

        <v-toolbar
                app
        >
            <v-toolbar-title>Administration Area</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-toolbar-items>
                <v-btn depressed small color="error" @click.prevent="onLogout">
                    <v-icon left dark>logout</v-icon>
                    Logout
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>

        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>

        <v-footer
                app
                color="#dadada"
                class="pa-3"
        >
            <v-spacer></v-spacer>
            <div>&copy; HTTPI {{ new Date().getFullYear() }}</div>
        </v-footer>
    </v-app>
</template>
<script>
    export default {
    	methods: {
    	    onLogout() {
				this.$store.dispatch('DEAUTH_REQUEST')
            }
        },
    	name: 'AdminLayout'
    }
</script>