<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <img src="@/assets/logo.png" />

                                <v-toolbar-title>Admin Login</v-toolbar-title>
                            </v-toolbar>

                            <v-card-text>
                                <login-form></login-form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
    import LoginForm from '@/components/forms/LoginForm.vue'

    export default {
    	components: {
			LoginForm
        },
    	name: 'LoginLayout'
    }
</script>