<template>
    <v-form :id="formId" @submit.prevent="onFormSubmit">
        <v-combobox
                item-text="name"
                item-value="id"
                label="Select category"
                :items="items"
                v-model="ingredientCategory"
                @input="dirty.ingredient_category_id = true"
        >
        </v-combobox>
        <v-alert type="error" :value="dirty.ingredient_category_id && $vd.ingredient.ingredient_category_id.$error" v-text="$vd.ingredient.ingredient_category_id.$error"></v-alert>

        <v-text-field prepend-icon="more_horiz" name="text" label="Ingredient Name(RO)" type="text" v-model.trim="ingredient.text" @input="dirty.text = true" v-if="mode === 'create'"></v-text-field>
        <v-alert type="error" :value="dirty.text && $vd.ingredient.text.$error" v-text="$vd.ingredient.text.$error"></v-alert>

        <p class="submit">
            <v-btn type="submit" color="success" :form="formId">Save</v-btn>
        </p>
    </v-form>
</template>
<script>
	import IngredientsCategoriesMixin from '@/mixins/ingredients/ingredients-categories.mixin'
	import IngredientsMixin from '@/mixins/ingredients/ingredients.mixin'
	import VueDaval from 'vue-daval'

    export default {
    	computed: {
    	    formId() {
    	    	return `${this.mode}IngredientForm`
            }
        },
		data: () => ({
			dirty: {
				ingredient_category_id: false,
                text: false
            },
			ingredientCategory: undefined,
			ingredient: {
				ingredient_category_id: undefined,
                text: undefined
            },
			items: []
		}),
    	methods: {
			onFormSubmit() {
				this.dirty = (this.mode === 'create') ? {
					ingredient_category_id: true,
					text: true
				} : {
                    ingredient_category_id: true
                }

				this.$vd.ingredient.$validate().then(() => {
					this.$store.commit('REQUEST_INIT')
                    if (this.mode === 'create') {
						this.createIngredient(this.ingredient).then(() => {
							this.$store.commit('APP_MESSAGE', `Successfully created ingredient ${this.ingredient.text} under ${this.ingredientCategory.name}`)

							this.resetModel()
							this.resetValidation()
							this.$store.commit('REQUEST_STOP')
						})
                    } else if (this.mode === 'update') {
						console.log('update var')
                    }
				})
            },
			onMounted() {
				this.$store.commit('REQUEST_INIT')
				this.getTree(true).then((response) => {
					this.items = response.data

					if (this.editIngredient) {
						this.ingredient = this.editIngredient
                        this.ingredientCategory = this.items.filter((item) => {
							return item.id === this.ingredient.ingredient_category_id
                        })[0]
                        console.log(this.ingredient, this.ingredientCategory)
					}

					this.$store.commit('REQUEST_STOP')
				})
			},
            resetModel() {
				this.ingredient.text = undefined
            },
            resetValidation() {
				this.$vd.ingredient.$reset()

				this.dirty = {
					ingredient_category_id: false,
					text: false
				}
            }
        },
        mixins: [
			IngredientsCategoriesMixin,
			IngredientsMixin,
			VueDaval
        ],
        mounted() {
    	    this.onMounted()
        },
    	name: 'IngredientForm',
        props: {
    		editIngredient: Object,
    		mode: {
    			type: String,
                default: 'create' // 'create' || 'update'
            }
        },
		vdConfig: {
			validateOnType: true,
			skipValidationsOnError: false,
			skipRulesOnError: false
		},
		vdRules: {
			ingredient: {
				ingredient_category_id: {
					required: true
				},
				text: {
					required: true
				}
			}
		},
        watch: {
    		ingredientCategory: {
    			handler(category) {
					this.ingredient.ingredient_category_id = (category) ? category.id : undefined
                },
                immediate: true
            }
        }
    }
</script>