<template>
    <v-form id="loginForm" @submit.prevent="onFormSubmit">
        <v-text-field prepend-icon="person" name="login" label="Login" type="text" v-model="login.email"></v-text-field>
        <v-alert type="error" :value="$vd.login.email.$error" v-text="$vd.login.email.$error"></v-alert>

        <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="login.password"></v-text-field>
        <v-alert type="error" :value="$vd.login.password.$error" v-text="$vd.login.password.$error"></v-alert>

        <p class="submit">
            <v-btn type="submit" color="secondary" form="loginForm">Login</v-btn>
        </p>
    </v-form>
</template>
<script>
    import VueDaval from 'vue-daval'

    export default {
    	data: () => ({
    		login: {
    			email: undefined,
                password: undefined
            }
        }),
        methods: {
			onFormSubmit() {
				this.$vd.login.$validate().then(() => {
					this.$store.dispatch('AUTH_REQUEST', this.login).then(() => {
						console.log('AFTER AUTH REQUEST')
                    })
                }).catch(() => {})
            }
        },
        mixins: [
        	VueDaval
        ],
    	name: 'LoginForm',
		vdConfig: {
			validateOnType: true,
			skipValidationsOnError: false,
			skipRulesOnError: false
		},
        vdRules: {
    		login: {
				email: {
					required: true,
                    type: 'email'
				},
				password: {
					required: true
				}
            }
        }
    }
</script>
<style scoped>
    .submit {
        text-align: right;
    }
</style>